#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a,
svg {
  color: orange;
  cursor: pointer;
  font-size: large;
  font-weight: bolder;
}

a:hover {
  color: orange;
  text-decoration: none;
  font-size: 1.25em;
  transition-property: transform, font-size;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
button:hover {
  background-color: orange;
}
